<section class="profile">
    <figure class="profile__header">
        <img class="profile__photo" src="../../../../assets/img/profile-photo.jpg" alt="">
        <section class="profile__nav">
            <h2 class="nav__title">@figueiraphoto.art</h2>
            <div class="nav__btns">
                <a class=" btn contact__btn" rel="noreferrer noopener" href="mailto:figueiraphoto.art@gmail.com">
                    <span>Contactar</span>
                </a>
                <a class="insta__btn" target="_blank" rel="noreferrer noopener"
                    href="https://www.instagram.com/figueiraphoto.art/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </section>
    </figure>
    <article class="profile__info">
        <h4 class="info__name">Miguel Figueira</h4>
        <span class="info__slogan">Artista</span>
        <div class="info__description">
            <!-- <span>Fotógrafo</span>
            <span>Digital Art Studio ✍🏻</span>
            <span>Portrait || FreeStyle || Social Events</span>
            <span>Architect degree - Madrid📍 - Born Venezuelan</span> -->
            <a class="info__link" rel="noreferrer noopener" target="_blank"
                href="https://figueiraphoto.es/">www.figueiraphoto.es</a>
        </div>
    </article>
</section>