.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  padding: 0;
  color: #fff;
  position: relative;
}

.photo.liked::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../../../assets/img/heartSapienza.png");
  animation: showUp 1000ms ease-in;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9999;
}

@keyframes showUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}