<table class="table"
    style="width: 100%; max-width: 100%; margin-bottom: 1rem; background-color: transparent; border-collapse: collapse;">
    <thead class="thead-dark">
        <tr>
            <th
                style="color: #fff; background-color: #212529; border-color: #32383e; vertical-align: bottom; border-bottom: 2px solid #dee2e6; padding: 0.75rem; border-top: 1px solid #dee2e6;">
                Posición
            </th>
            <th
                style="color: #fff; background-color: #212529; border-color: #32383e; vertical-align: bottom; border-bottom: 2px solid #dee2e6; padding: 0.75rem; border-top: 1px solid #dee2e6;">
                Título</th>
            <th
                style="color: #fff; background-color: #212529; border-color: #32383e; vertical-align: bottom; border-bottom: 2px solid #dee2e6; padding: 0.75rem; border-top: 1px solid #dee2e6;">
                Votos</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let photo of photos; index as i">
            <th style="padding: 0.75rem; vertical-align: top; border-top: 1px solid #dee2e6;">{{i+1}}</th>
            <td style="padding: 0.75rem; vertical-align: top; border-top: 1px solid #dee2e6;">{{photo.title}}</td>
            <td style="padding: 0.75rem; vertical-align: top; border-top: 1px solid #dee2e6; text-align: center;">
                {{photo.votes}}</td>
        </tr>
    </tbody>
</table>