:root {
  --color-1: #c06050;
  --color-2: #a85851;
  --color-3: #200700;
  --color-4: #603830;
  --color-5: #f9c8a8;
  --color-6: #bfa0a8;
  --color-7: #986868;
  --color-8: #681819;
}

html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  text-decoration: none;
  background-color: transparent;
}

figure,
h1,
h2,
h3,
h4 {
  margin: 0;
}

.mobile {
  margin: 0 auto;
  width: 500px;
  min-height: 100vh;
  box-shadow: 0 0 4px 0 #b5b5b5;
}

.header {
  width: 100%;
}

.header__top {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  background-color: var(--color-1);
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
}

.profile {
  width: 100%;
  padding: 1rem 1rem 0 1rem;
}

.profile__header,
.profile-min__header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile__photo,
.profile-min__photo {
  width: 96px;
  height: 96px;
  box-shadow: 0 0 4px 0 #b5b5b5;
  border-radius: 50%;
}

.profile-min__photo {
  width: 48px;
  height: 48px;
}

.profile__info,
.profile__nav {
  padding-top: 1rem;
  font-size: 14px;
  color: #262626;
}

.info__title,
.nav__title {
  font-size: 24px;
  margin-bottom: 12px;
  font-weight: 300;
}

.nav__btns {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: #262626;
}

.btn {
  border: thin solid #b5b5b5;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #262626;
}

.btn:disabled {
  background-color: #f0f0f0;
  color: #b5b5b5;
}

.insta__btn {
  font-size: 2rem;
}

.contact__btn,
.vote__btn {
  font-weight: 600;
}

.info__name {
  text-transform: uppercase;
}

.info__slogan {
  color: #b5b5b5;
}

.info__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 100%;
  margin: 1rem 0 0 0;
}

.vote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  border-top: thin solid var(--color-6);
  border-bottom: thin solid var(--color-6);
}

.vote__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  gap: 0.2rem;
}

.vote__btn {
  width: 30%;
}

.photos-container {
  display: grid;
  padding: 0.2rem 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.2rem;
}

.photo,
.detail {
  aspect-ratio: 1 / 1;
  padding: 0;
  color: #fff;
  position: relative;
}

.detail {
  aspect-ratio: 3 / 4;
}

.photo,
.detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo__img,
.detail__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  filter: none;
}

.detail__info {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  color: var(--color-3);
  padding: 0 1rem;
}

.detail__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 5;
}

.detail__btns {
  display: flex;
  justify-content: start;
  gap: 1rem;
}

.detail__title {
  font-size: 20px;
  align-self: flex-start;
  font-weight: bolder;
}

.detail__label {
  font-family: monospace;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
}

.heart,
.email {
  font-size: 1.5rem;
  color: black;
}

.heart-like {
  color: #ed4956;
}

.detail.liked::after {
  width: 50%;
  height: 50%;
  background: url("./assets/img/heartOnlySapienza.png");
  animation-name: bounceIn, bounceOut;
  animation-duration: 0.75s, 0.75s;
  /* animation-duration: 1s, 1s; */
  animation-delay: 0s, 1s;
  animation-fill-mode: both, both;
  animation-direction: alternate;
}

.photo.liked::after {
  width: 100%;
  height: 100%;
  background: url("./assets/img/heartSapienza.png");
}

.photo.liked::after,
.detail.liked::after {
  content: "";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9999;
}

/************ ADMIN ************/

/****** SUMMARY ******/

.summary__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  gap: 1rem;
  padding: 1rem 1rem 0;
}

.card {
  border: thin solid #b5b5b5;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 #b5b5b5;
}

.summary__total-votes {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.total-votes {
  font-size: 2rem;
}

.summary__list-container {
  width: 100%;
}

.summary__list-title {
  display: inline-block;
  width: 100%;
  padding: 1rem;
}

.summary__list {
  padding: 1rem;
}

.panel-active {
  border-radius: 10px 10px 0 0;
  background-color: #ed495625;
  box-shadow: 0 0 4px 0 #b5b5b5;
}

/****** MENU ******/

.menu {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}

.menu__option {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 48px;
  text-align: center;
  padding: 0.5rem;
  border: thin solid #b5b5b5;
  color: #b5b5b5;
  border-radius: 10px 0px 0px 10px;
}

.menu__option:last-of-type {
  border-radius: 0px 10px 10px 0px;
}

.active {
  color: black !important;
  border: thin solid black !important;
}

@media screen and (max-width: 680px) {
  .mobile {
    width: 100vw;
  }
}

.bounceIn {
  animation-name: bounceIn;
  animation-duration: 0.75s;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceOut {
  animation-name: bounceOut;
  animation-duration: 0.75s;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
