:root {
  --color-1: #c06050;
  --color-2: #a85851;
  --color-3: #200700;
  --color-3_50: #20070050;
  --color-4: #603830;
  --color-5: #f9c8a8;
  --color-6: #bfa0a8;
  --color-7: #986868;
  --color-8: #681819;
  --color-9: #424242;
  --gap-xs: 4px;
  --gap-sm: 8px;
  --gap-md: 12px;
  --gap-lg: 16px;
  --gap-xl: 32px;
}

html,
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  text-decoration: none;
  background-color: transparent;
}

figure,
h1,
h2,
h3,
h4 {
  margin: 0;
}

.mobile {
  margin: 0 auto;
  width: 500px;
  min-height: 100vh;
  box-shadow: 0 0 4px 0 #b5b5b5;
}

.content {
  padding: var(--gap-lg);
}

@media screen and (max-width: 680px) {
  .mobile {
    width: 100vw;
  }
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 6px 0 #b5b5b5;
}

.button {
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 0.5rem var(--gap-lg);
  color: #262626;
}