<div class="summary__container">
    <div class="card summary__total-votes">
        <span class="total-votes-title">Total de votos</span>
        <span class="total-votes">{{totalVotes}}</span>
    </div>
    <div class="card summary__list-container" (click)="showPanel1 = !showPanel1">
        <span class="summary__list-title" [ngClass]="{'panel-active': showPanel1}">3 más votados</span>
        <ul class="summary__list" *ngIf="showPanel1">
            <li *ngFor="let photo of moreVotes; index as i"> {{i+1}}.- {{photo.title}}</li>
        </ul>
    </div>
    <div class="card summary__list-container" (click)="showPanel2 = !showPanel2">
        <span class="summary__list-title" [ngClass]="{'panel-active': showPanel2}">3 menos votados</span>
        <ul class="summary__list" *ngIf="showPanel2">
            <li *ngFor="let photo of lessVotes; index as i"> {{totalPhotos-2+i}}.- {{photo.title}}</li>
        </ul>
    </div>
</div>